<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mky1428.owncook1">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OwnCook1"
        android:name=".CustomApplication"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".RecMenuSelectActivity"
            android:theme="@style/IntroActivityTheme" />

        <activity
            android:name=".RecMenuTypeActivity"
            android:theme="@style/IntroActivityTheme" />
        <activity
            android:name=".RegisterActivity"
            android:theme="@style/IntroActivityTheme" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/IntroActivityTheme" />
        <activity
            android:name=".IntroActivity"
            android:theme="@style/IntroActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:theme="@style/IntroActivityTheme" />

        <meta-data
            android:name="com.kakao.sdk.network.AppKey"
            android:value="4a7a8a91dec17ba6c45db90245306300"/>

    </application>

</manifest>